@font-face {
    font-family: 'poppins';
    src: URL('../fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-light';
    src: URL('../fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-extra-light';
    src: URL('../fonts/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-semibold';
    src: URL('../fonts/Poppins-Semibold.ttf') format('truetype');
}
:root {
    --dark-bg: #111827;
}
body {
  font-family: 'poppins', sans-serif;
}
div.antialiased 
{
    height: 100vh;
}
.circBg {
    color: white;
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
}
.circBgRight {
    color: white;
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
}
.min-w-50
{
    min-width: 50vh;
}
.refs 
{
    background-image: radial-gradient(to top, #30cfd0 0%, #330867 100%);
}
.index0
{
    z-index: 0 !important;
}
.index99
{
    z-index: 99 !important;
}
.index999
{
    z-index: 999 !important;
}
  
input#themeSwitch:checked ~ .dot {
    transform: translateX(100%);
    transition: all 5s ease-in-out;
    transition-duration: 350ms;
}
input#themeSwitch:not(:checked) ~ .dot {
    transition: all 5s ease-in-out;
    transition-duration: 350ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes jump {
    0% {
        transform: translateY(25%);
        transform: rotateX(90deg);
    }

    100% {
        transform: translateY(0%);
        transform: rotateX(0deg);
    }
}

.animate-fadeIn {
    animation: fadeIn 2s ease-in forwards;
}

.animate-jump {
    animation: jump 750ms ease-in-out forwards;
}
.h-fit {
    height: fit-content !important;
}

@media (min-width: 1024px) {
    /* md- */
    #intro .dark, #whyEth .dark {
        background: var(--dark-bg) !important;
        color: white !important;
        border: .5px solid rgb(83, 81, 81);
    }
}

@media (max-width: 1024px) {
    /* less than md */
    #intro .dark, #whyEth .dark {
        background: var(--dark-bg) !important;
        color: white !important;
        /* border: .5px solid rgb(83, 81, 81); */
    }
}

#main .dark #rightB{
    background: var(--dark-bg) !important;
    color: white !important;
    border: 1px solid darkslategray;
    border-right: none;
}
#main .dark #leftB{
    background: var(--dark-bg) !important;
    color: white !important;
    border: 1px solid darkslategray;
    border-left: none;
}
#main .dark #rightT, #main .dark #leftT{
    background: #18735a !important;
}

@media (min-width: 1024px) {
    /* md- */
    #footerAdwaLayer
    {
        min-height: 13em;
    }
}

@media (max-width: 1024px) {
    /* less than md */
    #footerAdwaLayer
    {
        min-height: 10em;
    }
}

#test .dark div[data-aos="fade-left"] { 
    background: var(--dark-bg) !important;
    color: white !important;
    border: 1px solid rgb(77, 77, 77);
    /* border-left: none; */
}
#test .dark div[data-aos="fade-left"] div.subTweet { 
    border: 1px solid rgb(53, 52, 52);
}
#test .dark div[data-aos="fade-left"] div.subTweet:hover { 
    background: rgb(7, 4, 26) !important;
}
#test .dark div[data-aos="fade-left"] span.flex[title] { 
    color: white !important;
}
#test .dark div[data-aos="fade-left"] span[title] { 
    color: rgb(175, 175, 175) !important;
}
#test .dark div[data-aos="fade-left"] div#tweetBody { 
    color: rgb(211, 211, 211) !important;
}
.light .dark{
    background: var(--dark-bg) !important;
    color: white !important;
}
.light .dark .orangeSub{
    color: transparent !important;
    background-image: linear-gradient(to left, rgb(216 70 6) 61%, rgb(244 157 12) 98%) !important;
}
.light .dark .greenSub{
    color: transparent !important;
    background-image: linear-gradient(to left, #3b82f6 61%, rgb(5 206 67) 98%) !important
}
#money .dark, #fxLiq .dark, #plan .dark {
    background: var(--dark-bg) !important;
    color: white !important;
}
#minerInfo .dark{
    background: #2e2d76 !important;
    color: white !important;
}
#plan .dark h2 {
    color: white !important;
}
#plan .dark .card {
    background: #bebebe !important;
}
#A .dark {
    background: var(--dark-bg);
    background: linear-gradient(90deg, #151f33 61%, rgb(15, 15, 49) 108%);
    color: white !important;
}
#A .dark h2 {
    color: white !important;
}
#A .dark .card {
    background: #bebebe !important;
}
.forbesCover 
{
    background-image: url('../imgs/cbeBank.jpg');
    background-color: #eee;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    min-height: 10rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
.custom-shape-divider-bottom-1629395594 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629395594 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 84px;
}

.custom-shape-divider-bottom-1629395594 .shape-fill {
    fill: #2e2d76;
}
.custom-shape-divider-bottom-1629395594 .shape-fill-o {
    fill: #f49e06;
}